/* 
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed,  figure, figcaption, footer, header, 
hgroup,  menu,  nav, output, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*FONTS */

@font-face {
    font-family: 'audimat';
    src: url('../Fonts/audimat_3000_gras-webfont.woff2') format('woff2'),
         url('../Fonts/audimat_3000_gras-webfont.woff') format('woff');
}

@font-face {
    font-family: 'abel';
    src: url('../Fonts/abel-regular-webfont.woff2') format('woff2'),
         url('../Fonts/abel-regular-webfont.woff') format('woff');
}

/*STATIC ELEMENTS*/

body {
  background-color: #f1f1f1;
  font-family: abel;
  font-size: 16px;
  color: #111;
}

span{
  color: #008AE9;
}

.background1 {
  background: linear-gradient(to bottom right, #2BE1F2 0%, #69B6F7 100%);
}

.app{
  background-color: #fff;
  margin-left: 10%;
  width: 80%;
  padding: 0 2.5% 0 2.5%;
  min-height: 100vh;

  display: flex;
  flex-flow: column;
  align-items: center;

  justify-content: space-between;
  border-width: 0px 0px 0px 0px; border-color: rgba(2, 170, 228, 1); border-radius: 6; border-style: solid; box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15); /* hover styles */ border-style: solid; box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
}

.header{
  font-family: audimat;
  display: flex;
  justify-content: center;
  margin: 1em 0;
  width: 100%;
}
.header:hover a{
  text-decoration: none
}
.logo{
  color: #333;
  font-size: 5em;
}

.footer, .footer a{
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: #333;
  margin: 1em 0;
}

/* INDEX */

.main_menu li a{
  transition: all 0.25s linear;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 2em;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  min-width: 5em;
  color: #333;
  border-width: 0px 0px 0px 0px; border-color: rgba(255, 255, 255, 1); border-radius: 6; border-style: solid; box-shadow: 0px 0px 0px 0px rgba(37, 56, 88, 0.25); /* hover styles */ border-style: solid; box-shadow: 0px 4px 12px 0px rgba(37, 56, 88, 0.25);
} .main_menu li a:hover  {
  background: #008AE9;
  color:#fff;
} .main_menu li a:active {
  box-shadow: none;
}

.main_menu__disabled a{
  box-shadow: none !important;
  color:#999 !important;
} .main_menu__disabled a:hover  {
  background: #fff !important;
  box-shadow: none !important;
  color:#999 !important;
} 



/*INSTRUCTIONS*/

.instructions_title{
  font-size: 2em;
  margin-bottom: 1em;
}


/* GAME */



.coin {
  box-sizing: border-box;
  padding: 0.5em 0 0.5em 0;
  margin: 0 0.25em 0 0.25em;
  cursor: pointer;

  background: #fff;

  border-width: 2px 0px 2px 0px; border-color: rgba(255, 255, 255, 0); border-radius: 2.5px; border-style: solid; box-shadow: 0px 0px 0px 0px rgba(37, 56, 88, 0.25); /* hover styles */ border-style: solid; box-shadow: 0px 4px 12px 0px rgba(37, 56, 88, 0.25);

}
.coin:hover {
  background-color: #f0f0f0;
}
.coin:active {
  box-sizing: border-box;
  background: #fff;
  box-shadow: none;
  border-width: 2px 0px 2px 0px;
  border-color: #008AE9;
}
.coin span {
  color:#333;
}


.coin__disabled {
  background-color: #f0f0f0;
  cursor: default;
  box-shadow:none;
}
.coin__disabled:hover {
}


.coin__selected {
  background-color: #008AE9;
  cursor: default;
}
.coin__selected:hover {
  background-color: #413ec4;
}
.coin__selected span {
  color:#fff;
}












.player {
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  cursor: pointer;
  vertical-align: middle;
    
  border-width: 0px 0px 0px 0px; border-color: rgba(255, 255, 255, 0); border-radius: 2.5px; border-style: solid; box-shadow: 0px 0px 0px 0px rgba(37, 56, 88, 0.25); /* hover styles */ border-style: solid; box-shadow: 0px 4px 12px 0px rgba(37, 56, 88, 0.25);
}
.player-button {
  position: relative;
  border-style: solid;
}
.player-button:hover {
  background: #f0f0f0;
  border-width: 2px 0px 2px 0px;
  border-color: #f0f0f0;
}
.player-button:active {
  background: #ffffff;
  border-width: 2px 0px 2px 0px;
  border-color: #008AE9;
}





.player img {
  position:absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top:50%;
  height:2em;
  width: 2em;
}


.buysell-info .col {
  box-sizing: border-box;
  padding: 0.5em 0 0.5em 0;
  cursor: pointer;

  background: #fff;

  border-width: 2px 0px 2px 0px; border-color: rgba(255, 255, 255, 0); border-radius: 2.5px; border-style: solid; box-shadow: 0px 0px 0px 0px rgba(37, 56, 88, 0.25); /* hover styles */ border-style: solid; box-shadow: 0px 4px 12px 0px rgba(37, 56, 88, 0.25);
}
.buysell-info img{
  height:1.5em;
  width:1.5em;
}





.buysell-button {
  background-color: #fff;
  cursor: pointer;   

  margin: 0.5em 0.5em 0.5em; 
  padding: 0.5em 0em;

  text-align: center;
  border-width: 2px 0px 2px 0px; border-color: rgba(255, 255, 255, 0); border-radius: 2.5px; border-style: solid; box-shadow: 0px 0px 0px 0px rgba(37, 56, 88, 0.25); /* hover styles */ border-style: solid; box-shadow: 0px 4px 12px 0px rgba(37, 56, 88, 0.25);

} .buysell-button span {
  color: #333;
}


.buysell-button:hover {
  background: #f0f0f0;
  border-width: 2px 0px 2px 0px;
  border-color: #f0f0f0;
}
.buysell-button:active {
  background: #ffffff;
  border-width: 2px 0px 2px 0px;
  border-color: #008AE9;
}








.toast {
  opacity:1;  
}









.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
